<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>

        <title>Clientes y areas</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragmentos :: boostrapYJquery"></div>


</head>
<body>

    <!-- SECCIÓN TH REPLACE  -->
    <div th:replace="fragmentos :: barraNavegacion"></div>


    <h1 class="text-center">Administración de clientes</h1>



    <div class="row">
        <div class="col"></div>
        <div class="col text-center">
            <a th:href="@{/clientes/nuevo}" class="fas fa-user-plus fa-2x icon-dark mr-2 py-3"></a>
        </div>
        <div class="col"></div>
    </div>


    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Area</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cliente : ${clientes}">
                <th scope="row">[[${cliente.id}]]</th>
                <td>[[${cliente.nombre}]]</td>
                <td>[[${cliente.area}]]</td>
                <td> 
                    <a class="fas fa-edit fa-2x icon-green" th:href="@{'/clientes/editar/' + ${cliente.id}}">Editar</a>
                </td>                                              
                <td>
                    <a th:if="${cliente.activo == false}" class="fas fa-circle fa-2x icon-dark"
                       th:href="@{'clientes/' + ${cliente.id} + '/activar/true'}"
                       ></a>

                    <a th:if="${cliente.activo == true}" class="fas fa-check-circle fa-2x icon-green" 
                       th:href="@{'clientes/' + ${cliente.id} + '/activar/false'}" 
                       ></a>
                </td>
            </tr>
        </tbody>
    </table>
        

    <div th:if="${mensaje != null}" class="alert alert-success text-center">
        [[${mensaje}]]
    </div>	


    <footer>
        <div th:replace="fragmentos :: footerTickets"></div>
    </footer>




</body>
</html>
