<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        
        <title>Reportar equipo</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace="fragmentos :: boostrapYJquery"></div>
        
    </head>
    <body>

        <!-- SECCIÓN TH REPLACE  -->
        <div th:replace="fragmentos :: barraNavegacion"></div>

        <div class="container-fluid py-5">
            <h1 class="text-center">Reportar equipo</h1>
        </div>
        
        
      
        
        
        
        <footer>
            <div th:replace="fragmentos :: footerTickets"></div>
        </footer>
        

    </body>
</html>
